<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Post -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим саму новость, идентификатор которой был передан в url -->
{% block content %}
<h1>{{ post.post_title }}</h1>
    {{ post.time_in|date:'d M Y' }}
    <br>
    <hr>
    {{ post.post_text }}
    <br>
    <hr>
    Автор статьи: {{ post.author.author_user }}
{% endblock content %}