<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
Новости
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
   <h1>Все новости</h1>
    Количество новостей: {{ post|length }}

   <h3>{{ time_now|date:'d M Y' }}</h3>
   <hr>
   {% if post %}
       <table>
           <tr>
               <td>Загаловок</td>
               <td>Дата публикации</td>
               <td>Краткое описание</td>
           </tr>

           {% for p in post %}
           <tr>
               <td>{{ p.post_title }}</td>
               <td>{{ p.time_in|date:'d M Y' }}</td>
               <td>{{ p.post_text|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


{% endblock content %}